:root {
  --flat-red-light: #E74C3C;
  --flat-red-dark: #C0392C;
  --flat-orange-light: #E67E23;
  --flat-orange-dark: #D35400;
  --flat-yellow-light: #FFCD0E;
  --flat-yellow-dark: #FFA800;
  --flat-sand-light: #EFDEB4;
  --flat-sand-dark: #D6C194;
  --flat-navy-blue-light: #34495E;
  --flat-navy-blue-dark: #2C3F50;
  --flat-black-light: #2C2C2B;
  --flat-black-dark: #272727;
  --flat-magenta-light: #9B59B7;
  --flat-magenta-dark: #8E44AC;
  --flat-teal-light: #396F81;
  --flat-teal-dark: #356272;
  --flat-sky-blue-light: #3598DB;
  --flat-sky-blue-dark: #2880B9;
  --flat-green-light: #2FCC70;
  --flat-green-dark: #26AE60;
  --flat-mint-light: #1ABC9B;
  --flat-mint-dark: #169F84;
  --flat-white-light: #EDF0F1;
  --flat-white-dark: #BEC3C6;
  --flat-gray-light: #95A5A6;
  --flat-gray-dark: #7E8C8D;
  --flat-forest-green-light: #355F40;
  --flat-forest-green-dark: #2D5036;
  --flat-purple-light: #735DC5;
  --flat-purple-dark: #5B48A2;
  --flat-brown-light: #5D4534;
  --flat-brown-dark: #503B2C;
  --flat-plum-light: #5E345E;
  --flat-plum-dark: #4F2C4F;
  --flat-watermelon-light: #EE707A;
  --flat-watermelon-dark: #D95459;
  --flat-lime-light: #A4C53A;
  --flat-lime-dark: #8DB022;
  --flat-pink-light: #F47BC3;
  --flat-pink-dark: #D45C9F;
  --flat-maroon-light: #79302A;
  --flat-maroon-dark: #652622;
  --flat-coffee-light: #A38670;
  --flat-coffee-dark: #8E725E;
  --flat-powder-blue-light: #B8CAF2;
  --flat-powder-blue-dark: #98ABD5;
  --flat-blue-light: #5064A1;
  --flat-blue-dark: #394C80;
}
